---
// /src/pages/resources/[slug].astro
import Layout from "../../layouts/Layout.astro"
import { getResourceData } from "../../lib/resourceUtils"
import SingleResource from "../../components/SingleResource.vue"

export async function getStaticPaths() {
  const { resources } = await getResourceData()
  return resources.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content } = await entry.render()
---

<Layout>
  <div class="flex flex-col h-full w-full overflow-hidden bg-background">
    <SingleResource resource={entry.data} client:load>
      <Content slot="content" />
    </SingleResource>
  </div>
</Layout>
